################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/CSCI363_GeneralDisarrays_JonsWindow1/v17/.suo
